
/*--------------------------------------1400px----------------------------------------------*/ 

@media screen and (max-width: 1400px) {
    html{
        font-size: 95.0%;
    }

    .sec-profile{
        margin-bottom: 0px;
    }
}

/*--------------------------------------1200px----------------------------------------------*/ 

@media screen and (max-width: 1200px) {
    html{
        font-size: 85.0%;
    }

    .box-portfolio{
        width: 50% !important;
    }

    .first-project{
        width: 100% !important;
    }

    .first-project-div{
        width: 75% !important;
    }
}

/*--------------------------------------992px----------------------------------------------*/ 

@media screen and (max-width: 992px) {

    .form-control-coment{
        height: 100px !important;
    }

    .contact-icon{
        max-width: 32px;
    }

/*--------------------------------------768px----------------------------------------------*/ 

    
    @media screen and (max-width: 768px) {
        .form-control-div{
            padding: 0px 0px 0px 0px;
        }
    }
}

    @media screen and (max-width: 576px) {

    .first-project-div{
        width: 75% !important;
    }

    .second-project-div{
        width: 100%;
    }
}

