/*--------------------------------------1600px----------------------------------------------*/ 
@media screen and (max-width: 1600px) {

    /* <!---section3---> */
    .personal-photo{
        position: static;
        margin: 50px auto;
    }

    .personal-description{
        width: 90% !important;
    }
}


/*--------------------------------------1400px----------------------------------------------*/ 

@media screen and (max-width: 1400px) {
    
    html{
        font-size: 90.0%;
    }

    /* <!---section3---> */
    .sec-profile{
        margin-bottom: 0px;
    }

}

/*--------------------------------------1200px----------------------------------------------*/ 

@media screen and (max-width: 1200px) {
    
    html{
        font-size: 80.0%;
    }
    /* <!---section2---> */
    .div-projects{
        width: 100% !important;
    }

    .div-projects-img{
        width: 85% !important;
    }

    /* <!---section3---> */
    .personal-description{
        padding: 0px;
    }
}

/*--------------------------------------992px----------------------------------------------*/ 

@media screen and (max-width: 992px) {

    /* <!---section4---> */
    .form-control-coment{
        height: 100px !important;
    }

    .more-projects::after{
        left: 200px;
    }

    /* <!---footer---> */
    .contact-icon{
        max-width: 32px;
    }
}

/*--------------------------------------768px----------------------------------------------*/ 

    
@media screen and (max-width: 768px) {
    
    .html{
        font-size: 65.0%;
    }


    /* <!---section2---> */
    .swiper-pagination-bullet{
        width: 25px;
    }

    /* <!---section4---> */
    .form-control-div{
        padding: 0px 0px 0px 0px;
    }
}

/*--------------------------------------576px----------------------------------------------*/ 

@media screen and (max-width: 576px) {

    /* <!---section2---> */
    .div-projects-img{
        width: 75% !important;
    }

    .second-project-div{
        width: 100%;
    }

    .more-projects::after{
        left: 150px;
    }

    .box-portfolio{
        width: 50% !important;
    }
}