/* <!----------------------------------------default-------------------------------------------------> */

:root{
    --light-white: #E5E5E5;
    --light-beige: #E3C5BB;
    --normal-beige: #C4A494;
    --strong-beige: #8E443D;
    --normal-dark: #212529;
}

body{
    font-family: 'jost', system-ui,-apple-system,"Segoe UI", Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-light-white{color: #e5e5e5;}
.text-light-beige{color: #E3C5BB;}
.text-normal-beige{color: #C4A494;}
.text-strong-beige{color: #8E443D;}
.text-lnormal-dark{color: #212529;}

/* <!----------------------------------------navbar-------------------------------------------------> */

.brand-navbar{
    height: 70px;
}
/* <!----------------------------------------section1-------------------------------------------------> */

section.sec-01{
    margin-top: 86px;
}

/* adapt the default bootstrap config */
.carousel-caption{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0px;
}

.carousel-control-prev-icon{
    filter: none !important;
}

.carousel-control-next-icon{
    filter: none !important;
}

.container-swiper-pagination-red{
    position: absolute !important;
    top: 100% !important;
}

.container-swiper-pagination-dark{
    position: absolute !important;
    top: 100% !important;
    right: 0%;
}

.swiper-pagination-bullet{
    width: 32px;
    height: 5px;
    border-radius: 5px;
}

.project-div{
    margin: 6rem 0px;
}

.card-red{
    margin-top: 70px;
}

.card-dark{
    margin-top: 50px;
}

.border-background-red{
    width: 50%;
    height: 120%;
    position: absolute;
    left: 50%;
    top: -10%;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #8E443D;
}

.border-background-dark{
    width: 50%;
    height: 120%;
    position: absolute;
    left: -0%;
    top: -10%;
    z-index: -1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--normal-dark);
}
.card{
    --bs-card-bg: none;
    color: var(--light-white)
}

.personal-photo{
    width: 70%;
    position: relative;
    top: 15%;
    left: 15%;
}

.personal-description{
    color: var(--light-white);
    padding-top: 10%;
}

.sec-profile{
    margin-bottom: 250px;
}

