/* <!----------------------------------------default-------------------------------------------------> */
:root{
    --light-white: #E5E5E5;
    --light-beige: #E3C5BB;
    --normal-beige: #C4A494;
    --strong-beige: #8E443D;
    --normal-dark: #212529;
}

body{
    font-family: 'circular-std', system-ui,-apple-system,"Segoe UI", Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-light-white{color: #e5e5e5;}
.text-light-beige{color: #E3C5BB;}
.text-normal-beige{color: #C4A494;}
.text-strong-beige{color: #8E443D;}
.text-lnormal-dark{color: #212529;}
/* <!----------------------------------------navbar-------------------------------------------------> */
.brand-navbar{
    height: 70px;
}

nav.navbar{
    min-height: 86px;
}
/* <!----------------------------------------section1-------------------------------------------------> */
section.sec-01{
    margin-top: 86px;
}

/* adapt the default bootstrap config */
div.carousel-caption{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0px;
}

.carousel-control-prev-icon{
    filter: none !important;
}

.carousel-control-next-icon{
    filter: none !important;
}

div.box-portfolio{
    cursor: pointer
}

.box-portfolio:hover{
    background-color: var(--light-white);
    color: var(--normal-dark);
    transition: 0.3s;
}
/* <!----------------------------------------section2-------------------------------------------------> */
div.container-swiper-pagination-red{
    position: absolute !important;
    top: 100% !important;
}

div.container-swiper-pagination-dark{
    position: absolute !important;
    top: 100% !important;
    right: 0%;
}

.swiper-pagination-bullet{
    width: 32px;
    height: 2px;
    border-radius: 5px;
}

div.project-div{
    margin: 6rem 0px;
}

div.card{
    --bs-card-bg: none;
    color: var(--light-white)
}

div.more-projects{
    cursor: pointer;
}

div.more-projects::after{
    content: " ";
    width: 20%;
    height: 2px;
    background-color: var(--normal-dark);
    position: absolute;
    bottom: 0;
    left: 240px;
    transition: 0.5s;
}

div.more-projects:hover::after{
    width: 45%;
}
/* <!----------------------------------------section3-------------------------------------------------> */
section.sec-profile{
    margin-bottom: 80px;
}

img.personal-photo{
    width: 70%;
    position: relative;
    top: 15%;
    left: 15%;
}

div.personal-description{
    color: var(--light-white);
    padding-top: 10%;
}
/* <!----------------------------------------section4-------------------------------------------------> */
textarea.form-control-coment{
    height: 200px !important;
}
/* <!----------------------------------------footer-------------------------------------------------> */
div.main-logo{
    height: 155px;
    width: 148px;
}

div.contact-icon{
    max-width: 42px;
}
