@font-face {
    font-family: 'jost';
    src: url(../fonts/Jost/static/Jost-Regular.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'circular-std';
    src: url(../fonts/circular-std-medium-500.ttf) format('truetype');
    font-weight: normal; 
    font-style: normal; 
}